<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>servlet.admin.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>servlet.customer.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MoviesServlet</servlet-name>
        <servlet-class>servlet.customer.MoviesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyMovieTicketServlet</servlet-name>
        <servlet-class>servlet.BuyMovieTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Book_a_Seat_Servlet</servlet-name>
        <servlet-class>servlet.Book_a_Seat_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MoviesComingSoonServlet</servlet-name>
        <servlet-class>servlet.customer.MoviesComingSoonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRecordServlet</servlet-name>
        <servlet-class>servlet.UpdateRecordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRecordServlet</servlet-name>
        <servlet-class>servlet.DeleteRecordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMovieServlet</servlet-name>
        <servlet-class>servlet.admin.UpdateMovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMovieServlet</servlet-name>
        <servlet-class>servlet.admin.DeleteMovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMovieServlet</servlet-name>
        <servlet-class>servlet.admin.AddMovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminTicketServlet</servlet-name>
        <servlet-class>servlet.admin.AdminTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCinemasServlet</servlet-name>
        <servlet-class>servlet.AdminCinemasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEventsServlet</servlet-name>
        <servlet-class>servlet.admin.AdminEventsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUsersServlet</servlet-name>
        <servlet-class>servlet.admin.AdminUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminActionsServlet</servlet-name>
        <servlet-class>servlet.admin.AdminActionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminApprovalServlet</servlet-name>
        <servlet-class>servlet.AdminApprovalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTicketServlet</servlet-name>
        <servlet-class>servlet.admin.AddTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTicketServlet</servlet-name>
        <servlet-class>servlet.admin.UpdateTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCinemasServlet</servlet-name>
        <servlet-class>servlet.AddCinemasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCinemasServlet</servlet-name>
        <servlet-class>servlet.UpdateCinemasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEventsServlet</servlet-name>
        <servlet-class>servlet.admin.AddEventsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEventsServlet</servlet-name>
        <servlet-class>servlet.admin.UpdateEventsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddActionsServlet</servlet-name>
        <servlet-class>servlet.AddActionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateActionsServlet</servlet-name>
        <servlet-class>servlet.UpdateActionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTicketServlet</servlet-name>
        <servlet-class>servlet.admin.DeleteTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEventsServlet</servlet-name>
        <servlet-class>servlet.admin.DeleteEventsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUsersServlet</servlet-name>
        <servlet-class>servlet.admin.DeleteUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteActionsServlet</servlet-name>
        <servlet-class>servlet.DeleteActionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUsersServlet</servlet-name>
        <servlet-class>servlet.admin.AddUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>servlet.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUsersServlet</servlet-name>
        <servlet-class>servlet.admin.UpdateUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateShowing</servlet-name>
        <servlet-class>UpdateShowing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddShowingServlet</servlet-name>
        <servlet-class>servlet.admin.AddShowingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateShowingServlet</servlet-name>
        <servlet-class>servlet.admin.UpdateShowingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteShowingServlet</servlet-name>
        <servlet-class>servlet.admin.DeleteShowingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminShowingServlet</servlet-name>
        <servlet-class>servlet.AdminShowingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminMovieShowsServlet</servlet-name>
        <servlet-class>servlet.admin.AdminMovieShowsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MoviesServlet</servlet-name>
        <url-pattern>/MoviesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyMovieTicketServlet</servlet-name>
        <url-pattern>/BuyMovieTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Book_a_Seat_Servlet</servlet-name>
        <url-pattern>/Book_a_Seat_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MoviesComingSoonServlet</servlet-name>
        <url-pattern>/MoviesComingSoonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRecordServlet</servlet-name>
        <url-pattern>/UpdateRecordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRecordServlet</servlet-name>
        <url-pattern>/DeleteRecordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMovieServlet</servlet-name>
        <url-pattern>/UpdateMovieServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMovieServlet</servlet-name>
        <url-pattern>/DeleteMovieServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMovieServlet</servlet-name>
        <url-pattern>/AddMovieServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTicketServlet</servlet-name>
        <url-pattern>/AdminTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCinemasServlet</servlet-name>
        <url-pattern>/AdminCinemasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEventsServlet</servlet-name>
        <url-pattern>/AdminEventsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUsersServlet</servlet-name>
        <url-pattern>/AdminUsersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminActionsServlet</servlet-name>
        <url-pattern>/AdminActionsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminApprovalServlet</servlet-name>
        <url-pattern>/AdminApprovalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTicketServlet</servlet-name>
        <url-pattern>/AddTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTicketServlet</servlet-name>
        <url-pattern>/UpdateTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCinemasServlet</servlet-name>
        <url-pattern>/AddCinemasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCinemasServlet</servlet-name>
        <url-pattern>/UpdateCinemasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEventsServlet</servlet-name>
        <url-pattern>/AddEventsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEventsServlet</servlet-name>
        <url-pattern>/UpdateEventsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddActionsServlet</servlet-name>
        <url-pattern>/AddActionsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateActionsServlet</servlet-name>
        <url-pattern>/UpdateActionsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTicketServlet</servlet-name>
        <url-pattern>/DeleteTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEventsServlet</servlet-name>
        <url-pattern>/DeleteEventsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUsersServlet</servlet-name>
        <url-pattern>/DeleteUsersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteActionsServlet</servlet-name>
        <url-pattern>/DeleteActionsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUsersServlet</servlet-name>
        <url-pattern>/AddUsersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUsersServlet</servlet-name>
        <url-pattern>/UpdateUsersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateShowing</servlet-name>
        <url-pattern>/UpdateShowing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddShowingServlet</servlet-name>
        <url-pattern>/AddShowingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateShowingServlet</servlet-name>
        <url-pattern>/UpdateShowingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteShowingServlet</servlet-name>
        <url-pattern>/DeleteShowingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminShowingServlet</servlet-name>
        <url-pattern>/AdminShowingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminMovieShowsServlet</servlet-name>
        <url-pattern>/AdminMovieShowsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
